<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- 注：v-else 、v-else-if 必须跟在 v-if 或者 v-else-if之后。 -->
        <h1 v-if="awesome">Hello qing!</h1>
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>

        <h1 v-show="ok">Hello!</h1>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                awesome: true,
                type: 'A',
                ok: false
            }
        })
    </script>
</body>

</html>