<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for遍历对象</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <ul id="app">
        <li v-for="(value, key) in object">
            键：{{ key }}===值：{{ value }}
        </li>

        <li v-for="(value, name, index) in object">
            {{ index }}---{{ name }}==={{ value }}
        </li>
    </ul>
    <script>
        var example1 = new Vue({
            el: '#app',
            data: {
                object: {
                    title: 'hello everyone',
                    author: 'qing',
                    time: '2019-07-11'
                }
            }
        })
    </script>
</body>

</html>