<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for的使用</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <div id="example-1">
        <ul>
            <!-- 循环中的key值只能使用number或者string类型，用来保证数据的唯一性 -->
            <li v-for="item of items" v-bind:key='item.id'>
                {{ item.message }}--<a href="" @click.prevent="del(item.id)">删除</a>
            </li>
        </ul>

        <!-- 如果使用v-for迭代数字的话，下标是从1开始的 -->
        <p v-for='count in 10'>第{{count}}循环</p>
    </div>

    <script>
        var example1 = new Vue({
            el: '#example-1',
            data: {
                items: [
                    { id: 1, message: 'Foo' },
                    { id: 2, message: 'Bar' }
                ]
            },
            methods: {
                del(id) {
                    console.log('del');
                    // 方法一:some
                    // this.items.some((item, i) => {
                    //     if (item.id === id) {
                    //         this.items.splice(i, 1);
                    //         return true;
                    //     }
                    // })
                    // 方法二:findIndex
                    var index = this.items.findIndex(item => {
                        if (item.id === id) {
                            return true;
                        }
                    })
                    // console.log(index);
                    this.items.splice(index, 1);
                }
            }
        })
    </script>
</body>

</html>