<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用watch属性监听</title>
    <script src="./js/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="firstName"> +
        <input type="text" v-model="lastName"> =
        <input type="text" v-model="fullName">

    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                firstName: '',
                lastName: '',
                fullName: ' ',
            },
            watch: {
                //使用这个属性可以监听data中指定数据的变化，然后触发这个watch对应的function函数
                firstName: function (newVal, oldVal) {
                    // this.fullName = this.firstName + '_' + this.lastName
                    //此时的this.firstName可以用newVal代替
                    this.fullName = newVal + '_' +this.lastName
                },
                lastName: function (newVal) {
                    this.fullName = this.firstName + '_' + newVal
                },

            },

        })
    </script>

</body>

</html>